OpafProjectVfMods/force-app/main/default/flows/Patient_Eligibility_Decision_Email_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Patient Eligibility Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Patient_Eligibility_Decision_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Patient_Eligibility_Decision_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A1</name>
        <label>Prescriber Decision Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Patient_Eligibility_Decision_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Patient_Eligibility_Decision_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>PatientDecisionEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_PatientDecisionEmail</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied by Mail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied by Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_PatientDecisionEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Prescriber Decision Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Prescriber Decision Email</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prescriber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied by Mail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied by Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Prescriber Decision Email</label>
        </rules>
    </decisions>
    <description>Migrated from the Patient Eligibility Decision Email process using multiple criteria.
Patient/Prescriber  Eligibility Decision</description>
    <label>Patient Eligibility Decision Email_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
