OpafProjectVisualForcePages/force-app/main/default/flows/Update_Email_Consent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UpdateEmailConsent</name>
        <label>Update Email Consent</label>
        <locationX>475</locationX>
        <locationY>375</locationY>
        <actionName>PrescriberPatientConsentController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EnvelopeIds</name>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PrescriberPatientConsentController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>227</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateEmailConsent</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Email Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Email Consent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
